Source: eris
Section: devel
Priority: 700
Homepage: https://docs.erisindustries.com
Maintainer: Eris Industries <support@erisindustries.com>
Build-Depends: debhelper (>= 9.1.0), golang-go
Standards-Version: 3.9.4

Package: eris
Architecture: amd64
Depends: docker-engine (>= 1.8) | docker.io (>= 1.8) | lxc-docker (>= 1.8)
Homepage: https://docs.erisindustries.com
Description: Eris is a platform for building, testing, maintaining, and operating
  distributed applications with a blockchain backend. Eris makes it easy
  and simple to wrangle the dragons of smart contract blockchains.
